// ----------------
// Colors
// -----------------

$black:      #333;
$white:      #fff;
$gray-light: #e7e7e7;
$gray-dark:  #777;
$grey-extra: #f8f8f8;
$red:        #ff4c4c;

// ----------------
// Metrics
// -----------------

$padding:     15px;
$margin:      15px;

$border-size: 1px;

// ----------------
// Fonts
// -----------------

$font-size-small: 12px;
$font-size-big: 18px;
$font-size-normal: 14px;
$font-size-medium: 18px;

// ----------------
// Animation
// -----------------

$transition-dur: .3s;
