%p#notice= notice

%h1 Улюбленці

%ul.pets-list
  - @pets.each do |pet|
    %li.pets-list--item
      = link_to pet, class: 'pet' do
        .pet--avatar{ style: "background-image: url(#{pet.avatar.url})" }
        .pet--info
          = pet.name
