.navbar-primary {
  background-color: $white;
  border-bottom: $border-size solid $gray-light;
  width: 100%;
  z-index: 99;

  &.-fixed {
    right: 0;
    top: 0;
    left: 0;
    position: fixed;

    & + .navbar-primary--helper {
      display: block;
    }
  }

  &--inner {
    display: flex;
  }

  &--logo {
    align-items: stretch;
    display: flex;
    flex: none;
    justify-content: flex-start;
    margin-right: $margin;
    width: 150px;
  }

  &--logo-link {
    align-items: center;
    color: $black;
    display: flex;
    font-size: $font-size-medium;
    padding: 10px;
    transition: $transition-dur;
    width: 100%;

    &:hover {
      background-color: $gray-light;
      color: $black;
      text-decoration: none;
    }
  }

  &--list {
    display: flex;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &--link {
    display: block;
    color: $black;
    padding: $padding;
    transition: $transition-dur;

    &:hover {
      background-color: $gray-light;
      color: $black;
      text-decoration: none;
    }
  }

  &--user {
    display: flex;
    flex: none;
    justify-content: flex-end;
    margin-left: $margin;
    width: 150px;
  }

  &--user-inner {
    align-items: stretch;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 10px 0;
    transition: $transition-dur;
    width: 100%;

    &:hover {
      background-color: $gray-light;
    }
  }

  &--name {
    align-self: center;
    margin-right: 10px;
  }

  &--avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    width: 30px;
  }

  &--login {
    display: block;
    padding: $padding;
    text-align: right;
    width: 150px;
  }

  &--helper {
    display: none;
    height: $main-navbar-height;
    margin-bottom: $margin;
    width: 100%;
  }
}
