.welcome
  .welcome--banner
    .welcome--banner-overlay
      %h2.welcome--banner-headline
        Вітаємо в Petkeeper!
      %h4.welcome--banner-subline
        Залиши тваринку у хороших руках так сміливо їдь у відпустку!
  .welcome--container
    .welcome--btns-block
      = link_to 'Переглянути тварин', pets_path, class: 'btn btn-primary'
      = link_to 'Переглянути оголошення', orders_path, class: 'btn btn-success'
