%h1 Мої оголошення
- if can_create_order?
  = link_to 'Створити оголошення', new_order_path


- if has_any_order?
  = render 'orders/partials/order_table'
- else
  %h4 У вас ще немає оголошень

  - if !has_any_pet?
    %p
      Перед тим як створювати оголошення, необхідно
      = link_to 'Додати улюбленця', new_pet_path
