%p#notice= notice

= render 'orders/partials/order'

- if can_create_request?(@order)
  = render 'requests/form'

- if user_signed_in? && order_owner?(@order)
  = link_to 'Редагувати', edit_order_path(@order)
