.media {
  display: flex;
  height: 100px;

  &--avatar {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    flex: none;
    width: 100px;
  }

  &--info {
    flex: 1 1 auto;
    padding: 10px;
  }

  &--name {
    font-size: $font-size-medium;
    margin-bottom: 10px;
  }

  &--list {
    padding: 0;
    list-style: none;
  }

  &--list-item {
    font-size: $font-size-small;

    span:first-child {
      font-weight: 700;
    }
  }
}
