.pet {
  border: $border-size solid $gray-light;
  border-radius: 10px;
  box-shadow: 0 0 2px $gray-light;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transition: $transition-dur;

  &:focus,
  &:hover {
    box-shadow: 0 0 10px $gray-light;
    text-decoration: none;
    transform: scale(1.1);
  }

  &--cross {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    transition: $transition-dur;
    font-size: $font-size-big;
  }

  &--avatar {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    height: 230px;
  }

  &--info {
    flex: 1 1 auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }

  &--name {
    color: $black;
    display: inline-block;
    margin-bottom: 10px;

    &:hover {
      color: $black;
    }
  }

  &--details {
    display: flex;
    color: $gray-dark;
    font-size: $font-size-small;
    padding: 0;
    list-style: none;
  }

  &--details-item {
    &:not(:first-child) {
      margin-left: 5px;

      &::before {
        content: '|';
      }
    }
  }

  &--menu {
    flex: none;
    padding: floor($padding / 2) $padding;
    list-style: none;
  }

  &--menu-link {
    color: $gray-dark;
    font-size: $font-size-small;
    transition: $transition-dur;

    &:hover {
      color: $gray-dark;
      transform: scale(1.1);
      text-decoration: none;
    }
  }

  &--menu-link.-danger {
    color: $red;

    &:hover {
      color: $red;
    }
  }
}
