.list-group-item {
  height: 70px;
}

.requests {
  list-style: none;
  padding: 0;

  &--item {
    display: flex;
    margin-top: $margin;
    padding: floor($padding / 2);

    &.-success {
      background-color: lighten($green, 25%);
    }

    &-avatar {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100%;
      margin-right: $margin;
      width: 60px;
    }

    &-info {
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
    }

    &-info-inner {
      display: flex;
      flex-direction: column;
    }

    &-message {
      margin: 0;
    }
  }
}
