.user-menu {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 300px;
  right: 0px;
  background-color: $grey-extra;
  opacity: 0;
  visibility: hidden;
  transition: $transition-dur;

  &.-show {
    opacity: 1;
    visibility: visible;
  }
}
