.user-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  right: 0px;
  background-color: $grey-extra;
  opacity: 0;
  visibility: hidden;
  transition: $transition-dur;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.-show {
    opacity: 1;
    visibility: visible;
  }

  &--ava {
    margin-top: $margin * 2;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: $margin;
  }

  &--list {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  &--item {
    a {
      text-decoration: none;
    }
  }

  &--link {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    display: block;
    &:hover {
      background-color: #337ab7;
      color: $gray-light;
    }
  }

  &--user {
    margin-bottom: $margin * 2;
    font-size: $font-size-big;
    text-decoration: none;
    color: darken($gray-dark, 20%);
    &:hover {
      color: $gray-dark;
      text-decoration: none;
    }
  }
}
